*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.back-ground{
    background-image: linear-gradient(173deg , #c4d70f 80%,white 20%);
    width: 100%;
    height: 100vh;
}
/*start hedar*/
.head .containar{
display: flex;
justify-content: space-between;
align-items: center;
}
.head .containar .logo p{
    margin: 30px 50px;
    font-size: 30px;
    color: white;
}
.head .containar .nav ul{
    list-style: none;
    display: flex;
}
.head .containar .nav ul li a{
    padding: 0 30px;
    text-decoration: none;
    color: white;
}
.head .containar .nav ul i{
color: white;
}
.head .containar .nav ul li i {
    padding: 0 10px;
    font-size: 18px;
}
.head .containar .nav ul img{
margin: 0 30px;
cursor: pointer;
width: 30px;
position: relative;
}
.head .containar ul i:nth-child(3){
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}
@media (max-width: 620px) {
    .head .containar ul li{
        display: none;
    }
    
}
/*end hedar*/
/*star main section*/
section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .container img {
    width: 100%;

}
section .container > div{
    text-align: center;
    line-height: 1;
    margin-left: 200px;
}
section .container > div h1:first-child{
    font-weight: 800;
    color: white;
    font-size: 35px;
    margin: 0;
}
section .container > div h1:nth-child(2){
    font-weight: 800;
    font-size: 35px;
}
section .container > div p{
    color: white;
    font-size:17px;
    line-height: 1.6;
    margin-left: 20px;
    margin-bottom: 40px;
    max-width: 300px;
    text-align: start;
}
section .container > div input{
    width: 200px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

}
section .container > div input:hover{
    background-color: white;
    color: black;
}
@media (max-width: 1200px)
{
    section .container img{
        width: 500px;
    }
}
@media (max-width: 1140px) {
    section .container > div{
        margin-left: 100px;
    }
}
@media (max-width: 950px){
    section .container img{
        width: 430px;
        
    }
}
@media (max-width: 900px){
    section .container img{
        width: 400px;
        margin-right: 150px;
    }
}
@media (max-width: 767px){
    section .container{
        flex-direction: column;
    }
    section .container img{
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
}
section .container > div{
    margin-right: 100px ;
    margin-top: 30px;
}
}
/*end main section*/
/*star numbers and buttons*/
.numberandbuuton .containar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numberandbuuton .containar > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    color: white;
    padding-left: 20px;
    
}
.numberandbuuton .containar > div h3{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
    
}
.numberandbuuton .containar > div h3:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.numberandbuuton .containar div:nth-child(2) i{
    box-shadow: 2px 0px 23px -4px rgb(0 0 0 / 32%);
    color: black;
    background-color: white;
    transition: 0.5s;
    padding: 15px;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberandbuuton .containar div:nth-child(2) i:hover{
    background-color: #1b161d;
    color: white;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
@media (max-width: 767px){
    }
    .numberandbuuton .containar > div h3{
        margin-top: 180px ;
        padding-left: 20px;
    }
    .numberandbuuton .containar div:nth-child(2){
        margin-right: 80px;
    }
/*end numbers and buttons*/
/*start home button */
.home_button .containar{
    z-index: 11;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #c4d70f;
    position: fixed;
    right: 30px;
    bottom: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.home_button .containar:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
}
.home_button .containar button{
    font-size: 18px;
    transform: rotate(90deg);
    background-color: #c4d70f;
    outline: none;
    border: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: relative;
}
.home_button .containar button i {
    position: absolute;
    top: -34px;
}
/*end home button */
/*star about skills*/
.letters{
    display: flex;
    justify-content: center;
    align-items: center;
}
.letters .containar{
    text-align: center;
    margin-top: 120px;
}
.letters .containar h1{
    font-weight: 300;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.letters .containar h1:hover{
    letter-spacing: 2px;
}
.letters .containar p {
    width: 96%;
}

/*end about skills */
/*start skills section*/
.all-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.skills .containar {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    column-gap: 40px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skills .containar div{
    box-shadow: -1px 0px 25px 9px rgb(0 0 0 / 9%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    width: 350px;
    height: 380px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.skills .containar div:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.skills .containar div img{
    padding-top: 30px;
    padding-bottom: 20px;
}
.skills .containar div h3{
padding: 30px 0;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
}
.skills .containar div p{
    padding-bottom: 40px;
    padding-left: 20px ;
    padding-right: 20px;
    font-weight: 100;
    line-height: 1.4;
}
.inputskills .containar{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.inputskills .containar input{
    width: 150px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: 2px solid #c4d70f;
    background-color: transparent;
    color: #c4d70f;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.inputskills .containar input:hover{
    background-color: #c4d70f;
    color: white;
}
/*end skills section*/
/*start portfolio section*/
.portfolio{
    display: grid;
}
.portfolio .containar{
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 30px ;
}
.portfolio .containar img{
    width: repeat( auto-fit, minmax(250px, 1fr) );
    padding-left: 30px;
}
@media (max-width: 767px) {
    
}

@media (max-width: 1200px) {
    .portfolio .containar > div img:first-child{
        width: 550px;
    }
    .portfolio .containar > div img:last-child{
        width: 280px;
    }
    .portfolio .containar > div:nth-child(2) img:first-child{
        width: 300px;
    }
    .portfolio .containar > div:nth-child(2) img:last-child{
        width: 580px;
        padding-bottom: 10px;
    }
}
@media (max-width: 955px) {
    .portfolio .containar > div img:first-child{
        width: 500px;
    }
    .portfolio .containar > div img:last-child{
        width: 250px;
    }
    .portfolio .containar > div:nth-child(2) img:first-child{
        width: 290px;
    }
    .portfolio .containar > div:nth-child(2) img:last-child{
        width: 530px;
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .portfolio .containar > div{
        padding-left: 10px; 
    }
    .portfolio .containar > div img:first-child{
        width: 98%;
        padding: 0 ;
        margin: 0;
    }
    .portfolio .containar > div img:last-child{
        width: 98%;
        padding: 0;
        margin: 0;
    }
    .portfolio .containar > div:nth-child(2) img:first-child{
        width: 98%;
        padding: 0;
        margin: 0;
    }
    .portfolio .containar > div:nth-child(2) img:last-child{
        width: 98%;
        padding: 0 ;
        margin: 0;
    }
}
/*end portfolio section*/
/*start about team*/
.ourteam{
    margin-top: 70px;
}
.team .containar{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team .containar div{
    text-align: center;
    margin-left: 35px;
    margin-bottom: 50px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.team .containar div:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.team .containar img{
    width: 220px;
    padding-bottom: 30px;
}
.team .containar div h3{
    padding-bottom: 15px;
    font-weight: 300;
}
.team .containar div p{
    padding-bottom: 10px;
}
.team .containar div .follow{
padding-top: 15px;
color:  #9be604;
}
.team .containar div span i{
    font-size: 28px;
    padding: 0 9px;
    color: #9be604;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 767px){
    .team .containar div{
        margin-left: 0;
    }
}
/*end about team*/
/*start hr line*/
.hr{
    display: grid;
}
.line div{
    height: 1px;
    background-color: #9be604;
    width: 75%;
    margin: 50px auto;
}
/*end hr line*/
/*start about contact*/
.about-contact .containar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 140px;
}
.about-contact .containar p{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #787877;
}
.about-contact .containar h1{
    margin: 0;
    padding: 10px 0;
    font-weight: 300;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.about-contact .containar h1:hover{
    letter-spacing: 2px;
}
/*end about contact*/
/*start contact section*/
.contact .containar{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact .containar > div{
    width: 405px;
}
.contact .containar > div input:not(:first-child){
    margin-bottom: 30px;
    margin-top: 8px;
}
.contact .containar > div input{
    width: 405px;
    height: 45px;
    padding: 10px;
    outline: none;
    border: 1px #ccc solid;
}
.contact .containar > div input:focus{
    outline: none;
}
.contact .containar > div label{
    color: #797879;
}
.contact .containar >div textarea{
    width: 405px;
    height: 150px;
    outline: none;
    border: 1px solid #c1c1c2;
    margin-top: 10px;
}
.contact .containar div img{
    width: 100%;
}
.contact .containar .btn{
    background-color: #a0e711;
    width: 130px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin: 30px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.contact .containar .btn:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
@media (max-width:767px) {
    .contact .containar .btn{
        margin-left: 10px;
    }
    .contact .containar > div{
        width: 360px;
    }
.contact .containar > div input{
        width: 360px;
    }
    .contact .containar > div textarea{
        width: 360px;
    }
}
/*end contact section*/
/*start about fotter*/
.letters-footer .containar-fotter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.letters-footer .containar-fotter h1{
    padding-top: 70px;
    font-weight: 300;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.letters-footer .containar-fotter h1:hover{
    letter-spacing: 2px;
}
.letters-footer .containar-fotter .footer{
    width: 56%;
    text-align: center;
    padding-bottom: 100px;
}
    @media (max-width: 767px) {
        .letters-footer .containar-fotter .footer{
            text-align: left;
    }
}
/*end about fotter*/
/*start footer section*/
footer{
    background-color: #191919;
}
footer .containar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
footer .containar > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align:left;
    width:500px;
    color: white;
    line-height: 1.8;
    margin-bottom: 40px;
}
footer .containar .about-us{
    margin-right: 50px;
}
footer .containar img{
    width: 100%;
}
@media (max-width: 767px) {
    footer .containar .about-us{
        text-align:center;
    }
}
footer .containar2{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
footer .containar2 .inputs{
    display: flex;
    flex-direction: column;
    width: 30%;
}
footer .containar2 .inputs input{
    margin-bottom: 30px;
    padding: 10px 5px;
}
footer .containar2 .inputs input:first-child{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid #797879;
}
footer .containar2 .inputs input:last-child{
    background-color: #a0e711;
    width: 170px;
    text-align: center;
    height: 45px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
}
footer .containar2 .inputs input:last-child:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
footer .containar2 div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}
footer .containar2 div:last-child i{
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer .containar2 div:last-child i:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
@media (max-width:767px){
    footer .containar2{
        flex-direction: column;
    }
    footer .containar2 .inputs{
        width: 60%;
    }
    footer .containar2 .inputs input:last-child{
        margin-left: 32px ;
    }
    footer .containar > div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer .containar > div .about-us{
        text-align: center;
        margin-right: 0;
    }
    footer .containar img{
        margin-bottom: -75px;
    }
}
/*end footer section*/
/*start alrights*/
footer .containar3{
    margin-top: 50px;
    display: grid;
}
hr{
    width: 73%;
    margin: auto;
}
footer .containar3 div{
    color: white;
    margin: 35px auto;
    text-align: center;
    letter-spacing: 2px;
}
/*end alrights*/
